<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="title">My Name is <span style="text-decoration: underline">Davide Marcoli</span> and i'm from <!--<span class="fi fi-ch fis"></span>--><img height="35" src="assets/CH.svg" alt="Switzerland Flag"/></h1>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-lg-8">
      <h3>My Life <span style="font-size: 0.5em">(As of 2022)</span></h3>
      <p>
        I'm currently make my Apprentice as a <strong>Software Developer @ SIX</strong>, a Swiss based Company that operates the infrastructure for the Swiss financial centre.
        The company provides services relating to securities transactions, the processing of financial information and payment transactions.
        <br><br>
        I'm also a student at the vocational Matura school <a href="https://www.bms-zuerich.ch/" target="_blank">BMSZ</a> and the technical vocational school Vocational school <a href="https://www.tbz.ch/" target="_blank">TBZ</a> in Zurich.
        <br><br>
        In my free time I love to read and watch exciting series like <a href="https://www.imdb.com/title/tt3007572/" style="color: rgba(0,255,254,0.51)" target="_blank">Lock & Keys</a> or <a href="https://www.imdb.com/title/tt5232792/" style="color: rgba(255,0,8,0.69)" target="_blank">Lost in Space</a>.
        Fantasy and Sci-Fi are my favorite categories.
      </p>
    </div>
    <div class="col-lg-4">
      <img src="assets/bild_ferien.jpg" alt="Ferien Foto von Davide Marcoli" width="100%">
    </div>
  </div>
</div>
