.btn:not(:last-child) {
  margin-right: 10px !important;
}

app-badge {
  margin-right: 10px;
}

p.card-text {
  margin-top: 10px;
}

.card {
  margin: 4%;
}

.card-title {
  font-size: 1.25em
}

#project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*gap: 10px 20px;*/
  justify-content: center;
  width: 100%;
}

@media all and (max-width: 992px) {
  .card {
    width: 100% !important;
  }
}
