#writer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Source Code Pro", monospace;
  color: #fff;
  font-size: 3em;
}

#link-button-container {
  display: flex;
  /*On top of page*/
  position: absolute;
  top: 2em;
  /*Centered*/
  left: 50%;
  transform: translate(-50%, 0);
  /*Margin*/
  margin: 1em;
}

.link-button {
  /*Margin*/
  margin: 1em;
  /*Padding*/
  padding: 0.5em;
  /*Border*/
  /*border: 1px solid #fff;*/
  /*Border Radius*/
  border-radius: 0.5em;
  /*Font*/
  font-family: "Source Code Pro", monospace;
  font-size: 1.5em;
  /*Color*/
  color: #fff;
  /*Background*/
  background-color: #121212;
  /*Transition*/
  transition: 0.5s;
}

@media all and (max-width: 576px) {
  #link-button-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .link-button {
    margin: 0.5em;
  }
}

.page-scroll {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 3em;
}


/*.page-scroll .btn-circle i.animated {*/
/*  -webkit-transition-property: -webkit-transform;*/
/*  -webkit-transition-duration: 1s;*/
/*  -moz-transition-property: -moz-transform;*/
/*  -moz-transition-duration: 1s;*/
/*  -webkit-animation-name: pulse;*/
/*  -moz-animation-name: pulse;*/
/*  -webkit-animation-duration: 1.5s;*/
/*  -moz-animation-duration: 1.5s;*/
/*  -webkit-animation-iteration-count: infinite;*/
/*  -moz-animation-iteration-count: infinite;*/
/*  -webkit-animation-timing-function: linear;*/
/*  -moz-animation-timing-function: linear;*/
/*}*/

/*.page-scroll .btn-circle:hover i.animated {*/
/*  -webkit-animation-name: pulse;*/
/*  -moz-animation-name: pulse;*/
/*  -webkit-animation-duration: 1.5s;*/
/*  -moz-animation-duration: 1.5s;*/
/*  -webkit-animation-iteration-count: infinite;*/
/*  -moz-animation-iteration-count: infinite;*/
/*  -webkit-animation-timing-function: linear;*/
/*  -moz-animation-timing-function: linear;*/
/*}*/

/*@-webkit-keyframes pulse {*/
/*  0% {*/
/*    -webkit-transform: scale(1);*/
/*    transform: scale(1);*/
/*  }*/

/*  50% {*/
/*    -webkit-transform: scale(1.2);*/
/*    transform: scale(1.2);*/
/*  }*/

/*  100% {*/
/*    -webkit-transform: scale(1);*/
/*    transform: scale(1);*/
/*  }*/
/*}*/

/*@-moz-keyframes pulse {*/
/*  0% {*/
/*    -moz-transform: scale(1);*/
/*    transform: scale(1);*/
/*  }*/

/*  50% {*/
/*    -moz-transform: scale(1.2);*/
/*    transform: scale(1.2);*/
/*  }*/

/*  100% {*/
/*    -moz-transform: scale(1);*/
/*    transform: scale(1);*/
/*  }*/
/*}*/

.btn-circle {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: background .4s ease-in-out;
  -moz-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
